
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.app-header{
  padding-top: 50px;
  .jumbotron{
    margin: 0;
  }
}

.app-nav{
  color: #563d7c;
  a{
    color: #563d7c;
  }
  .navbar-toggle{
    .icon-bar{
      background-color: #563d7c;
    }
  }
}

.app-content{
  h1{
    margin-top: 50px;
  }
  .photo-box{
    .photo{
      width: 25%;
      height: 250px;
      float: left;
      overflow: hidden;

      background-size: cover;
      background-position: center center;
    }
    &:after{
      content: ' ';
      display: block;
      clear: both;
    }
  }
}

.app-footer{
  margin-top: 100px;
  background-color: #eee;
  padding: 20px;
  font-size: 10px;
}
